<form method="post" action="{{ path('reponse_delete', {'idR': reponse.idR}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse.idR) }}">
    <button class="btn">Delete</button>
</form>
