<form method="post" action="{{ path('evenement_delete', {'idEv': evenement.idEv}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.idEv) }}">
    <button class="btn">Delete</button>
    <style>

        .btn {
            display: inline-block;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 5px;
            background-color: #dbf6e9;
            font-size: 16px;
            font-weight: bold;
            color: deepskyblue;
        }
    </style>
</form>
