{% extends 'base.html.twig' %}
 {% block content %}

     {% block title %}

     {% endblock %}



     {% block body %}
    <h1>Create new Evenement</h1>

    {{ include('evenement/_form.html.twig') }}

    <button type=“button” class="button-back"><a href="{{ path('evenement_index') }}">back to list</a></button>
{% endblock %}
 {% endblock %}
