<form method="post" action="{{ path('apprenant_delete', {'idApp': apprenant.idApp}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apprenant.idApp) }}">
    <button class="btn">Delete</button>
</form>
