{% extends 'base.html.twig' %}

{% block title %}Nouveau Partenaire{% endblock %}

{% block content %}
    {% block body %}
        <h1>Contactez votre Partenaire</h1>



        {{ form_start (form)}}
        <button type=“button” class="button-back"style ="margin-top: 2rem"><a href="{{ path('partenaire_index') }} ">back to list</a></button>
        <input type="submit" class="button-back" value="Send" style ="margin-top: 2rem" style ="margin-block-end: 10rem" >



        <style>

            .button-back {
                style :"margin-top: 2rem";
                display: inline-block;
                padding: 12px 18px;
                cursor: pointer;
                border-radius: 5px;
                background-color: #fff3cd;
                font-size: 16px;
                font-weight: bold;
                color: #ff0000;
            }


        </style>

        {{ form_end (form) }}
    {% endblock %}
{% endblock %}
