{% extends 'baseF.html.twig' %}

{% block title %}Partenaire index{% endblock %}
{% block contentfr %}
    {% block body %}
        <main>
            <!--? slider Area Start-->
            <section class="slider-area slider-area2">
                <div class="slider-active">
                    <!-- Single Slider -->

                </div>
            </section>
            <div  class="container",style ="top: 50rem";>

                <div class="row",style ="margin-top: 50rem";>
                    <div class="col-md-9">
                        <div class="grid",style ="margin-top: 50rem";>
                            {% for partenaire in partenaires %}
                                {% include 'partenaire/_card.html.twig'with {partenaire:partenaire} only %}
                            {% endfor %}
                        </div>
                    </div>
                </div>


                <div style ="margin-top: 5rem;"></div>








            </div>






        </main>




    {% endblock %}

{% endblock %}